# Binaries for programs and plugins
1035-deezer
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

dist/ 

.gitignore
config.json
